/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-create-block-testblock2 {
	border: 1px dotted #f00;
	background-color: red;
	color: rgb(255, 255, 255);
}
 .wp-block-create-block-testblock2 h1 {
	border: 1px dotted #f00;
	background-color: red;
	color: rgb(255, 255, 255);
}
