/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-create-block-testblock {
	border: 1px dotted #f00;
	background-color: red;
	color: rgb(0, 0, 0);
}
 .wp-block-create-block-testblock h1 {
	border: 1px dotted #f00;
	background-color: red;
	color: rgb(0, 0, 0);
}
